body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(#ffffff, #023f7e);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  min-height: 20%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 821px) {
  article {
    background-color: #ffffff;
    color: #023f7e;
    width: 800px;
  }
}

@media only screen and (max-width: 820px) {
  article {
    background-color: #ffffff;
    color: #023f7e;
  }
}

footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #011F3D;
  position: fixed;
  bottom: 0;
}

.centrale {
	margin: 0 auto;
	margin-top: 130px;
}

.parameters {
  margin: 0 auto;
  padding: 50px;
  font-size: 24px;
}

.parameters ul {
  list-style: none;
}

.result {
	margin: 0 auto;
	margin-top: 50px;
  width: 500px;
  padding: 50px;
  font-size: 28px;
}

.nb_input {
	width: 30px;
}

.result_input {
	width: 280px;
	height: 40px;
	font-size: 28px;
}

.rigths {
  width: 500px;
  margin-bottom: 50px;
}

#nb_car {
  font-size: 22px;
}

#div_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn_generate {
  width: 300px;
  height: 80px;
  background-color: #0467C9;
  color: #ffffff;
  border: none;
  font-size: 24px;
}

#btn_generate:hover {
  width: 300px;
  height: 80px;
  background-color: #ffffff;
  color: #0467C9;
  border: solid 5px #0467C9;
  font-size: 24px;
}
